/* Desktop version */
@media only screen and (max-width: 992px) {
    #toggler_menu {
        display: block;
        cursor: pointer;
    }
    .menu_bar {
        display: none;
    }
    #banner_section {
        background-position: left bottom;
        background-size: 100%;
    }
    .banner_info h1 {
        font-size: 48px;
        line-height: 63px;
    }
    .features_content {
        flex-direction: column-reverse;
    }
    .features_title h2{
        margin: auto;
        text-align: center;
    }
    
    .features_title p {
        margin: auto;
        text-align: center;
    }

    .jackpots_content {
        flex-wrap: wrap;
    }
    .jackpots_content h2{
        margin: auto;
        text-align: center;
        padding-bottom: 15px;
    }
    .jackpots_content p{
        margin: auto;
        text-align: center;
    }
    .jackpots_detail {
      flex-wrap: wrap;
    }
    .jackpots_item {
        margin-bottom: 20px;
    }
   
}


/* Tablet, laptop version */
@media only screen and (max-width: 768px) {
    #banner_section {
        margin: 60px 0px;
    }
    .banner_content {
        flex-direction: column-reverse;
    }
    .banner_info {
        width: 100%;
        padding: 0 15px;
    }
    .banner_img {
        width: 100%;
        text-align: center;
        margin-bottom: 38px;
    }
    #client_section {
        margin-top: 400px;
    }
    .client_content {
        flex-wrap:wrap;
    }
    .jackpots_detail {
        flex-direction: column;
    }
    .jackpots_img{
        margin: auto;
        text-align: center;
    }
    .jackpots_info h6 {
        margin: auto;
        text-align: center;
    }
    
    .jackpots_info p {
        margin: auto;
        text-align: center;
    }
}

/* Mobile version */
@media only screen and (max-width: 589px) {
    .banner_info h6 {
        max-width: 280px;
        font-size: 14px;
    }
    .banner_info h1 {
        font-size: 32px;
        line-height: 47px;
    }
    .banner_btn {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .client_content {
        flex-wrap:wrap;
    }
    .client_content img{
        margin: 15px 0px;
    }
    .features_categories {
        flex-direction: column;
    }
    .feature_info {
        text-align: center;
    }
}