/* large version */
@media only screen and (min-width: 993px) {
    .toggler_menu_btn {
        display: none;
    }
}

/* Desktop version */
@media only screen and (max-width: 992px) {
    .toggler_menu_btn {
        display: block;
        margin-left: 100px;
    }

    .menu_bar {
        width: calc(100% - 0px);
        position: absolute;
        top: 70px;
        left: 0;
        z-index: 1;
        margin: 0;
        padding: 20px 0 20px 35px;
        background: rgba(22, 22, 22, 0.7);
        transform-origin: top;
        transform: translateY(-500px);
        transition: 0.9s linear;
    }

    .menu_bar ul{
        display: block;
        margin-top: 20px 0 20px 50px;
    }

    .menu_bar ul li a {
        color: #fff;
    }

    #toggler_menu:checked ~ .menu_bar {
        transform: translateY(0px);
    }

    #banner_section {
        background-position: left bottom;
        background-size: 100%;
    }

    .banner_info h1 {
        font-size: 48px;
        line-height: 63px;
    }

    .features_content {
        flex-direction: column-reverse;
    }

    .features_title h2{
        margin: auto;
        text-align: center;
    }
    
    .features_title p {
        margin: auto;
        text-align: center;
    }

    .jackpots_content {
        flex-wrap: wrap;
    }

    .jackpots_content h2{
        margin: auto;
        text-align: center;
        padding-bottom: 15px;
    }

    .jackpots_content p{
        margin: auto;
        text-align: center;
    }

    .jackpots_detail {
      flex-wrap: wrap;
    }

    .jackpots_item {
        margin-bottom: 20px;
    }

   .design_content {
        flex-direction: column;
    }
    .design_info{
        text-align: center;
        margin: auto;
     }

    .design_info h2{
        margin: 24px auto 0px;
        text-align: center;
    }
    
    .design_info p {
        margin: auto;
        text-align: center;
    }

    .design_btn {
        text-align: center;
    }

    .service_content {
        grid-template-columns: repeat(2, 1fr);
    }

    .jackpots_border {
        display: none;
    }

    .jackpots_detail {
        margin: 70px auto;
    }

    .planning_content {
        flex-direction: column;
    }

    .planning_intro h2 {
       margin: auto;
        text-align: center;
    }

    .planning_intro p {
       margin: auto;
        text-align: center;
    }

    .planning_item_img {
       margin: 20px auto;
    }

    .planning_item_detail h6 {
        margin: auto;
        text-align: center;
    }

    .planning_item_detail p {
        margin: auto;
        text-align: center;
    }

    .planning_btn {
        text-align: center;
        margin:0 auto 20px;
    }

    .app_content {
        flex-direction: column;
    }

    .app_info h2 {
        margin: auto;
        text-align: center;
    }

    .app_info p {
        margin: auto;
        text-align: center;
    }

    .app_store_img {
        text-align: center;
    }

    .app_store_img img{
       width: 90%;
    }

    .app_img {
        text-align: center;
        margin: 25px auto;
    }
    
}


/* Tablet, laptop version */
@media only screen and (max-width: 768px) {
    #banner_section {
        margin: 60px 0px;
    }
    .banner_content {
        flex-direction: column-reverse;
    }
    .banner_info {
        width: 100%;
        padding: 0 15px;
    }
    .banner_img {
        width: 100%;
        text-align: center;
        margin-bottom: 38px;
    }
    #client_section {
        margin-top: 400px;
    }
    .client_content {
        flex-wrap:wrap;
    }
    .jackpots_detail {
        flex-direction: column;
    }
    .jackpots_img {
        margin: auto;
        text-align: center;
    }
    .jackpots_info  {
        margin: auto;
        text-align: center;
    } */
    
   .jackpots_info p {
        margin: auto;
        text-align: center;
    } 

    .pricing_card_content {
        grid-template-columns: repeat(1, 1fr);
        place-items: center;
    }

}

/* Mobile version */
@media only screen and (max-width: 589px) {
    .banner_info h6 {
        max-width: 280px;
        font-size: 14px;
    }
    .banner_info h1 {
        font-size: 32px;
        line-height: 47px;
    }
    .banner_btn {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .client_content {
        flex-wrap:wrap;
    }
    .client_content img{
        margin: 15px 0px;
    }
    .features_categories {
        flex-direction: column;
    }
    .feature_info {
        text-align: center;
    }

    .service_content, .planning_categories {
        grid-template-columns: repeat(1, 1fr);
    }

}