@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500&display=swap');

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f9fbfc;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.container {
    max-width: 1200px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}


/*--------navbar---------*/
header {
    margin-top: 25px;
}

.header_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.logo_img img{
    width: 100%;
}

.menu_bar ul{
    display: flex;
    align-items: center;
}

.menu_bar ul li {
    padding: 0 15px;
}

.menu_bar ul li a {
    font-size: 16px;
    line-height: 44px;
    color: #242f51;
    font-weight: 400;
    font-family: "Poppins";
    transition: all 0.5s ease-in-out;
}

.menu_bar ul li a:hover {
    color: orange;
}

.trial_btn {
    width: 170px;
    height: 57px;
    border-radius: 29px;
    background-color: #2500f9;
    border: none;
    outline: none;
    color: #f9fbfc;
    cursor: pointer;
}

#toggler_menu {
    display: none;
    border: none;
    outline: none;
    background: transparent;
}

#toggler_menu i {
    color: #2500f9;
    font-size: 32px;
}

/*----------banner----------*/
#banner_section {
    background-image: url('./../assets/banner-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left bottom;
    max-height: calc(100vh - 45px);
    margin-top: 30px;
}

.banner_content{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.banner_info h6{
    display: flex;
    align-items: center;
    width: 362px;
    height: 35px;
    border-radius: 17px;
    background-color: #e2eaed;
    font-size: 18px;
    line-height: 28px;
    color: #242f51;
    font-weight: 400;
}

.banner_info h6 i {
    width: 39px;
    height: 35px;
    border-radius: 17px;
    background-color: #feaa25;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    line-height: 28px;
    color: #ffffff;
}

.banner_info h1 {
    max-width: 525px;
    font-size: 60px;
    line-height: 75px;
    color: #242f51;
    font-weight: 600;
    padding: 15px 0;
}

.banner_info p {
    max-width: 481px;
    font-size: 18px;
    line-height: 28px;
    color: #616368;
    font-weight: 400;
    padding: 0 0 20px 0;
}

.demo_btn {
    font-size: 16px;
    line-height: 44px;
    color: #2500f9;
    font-weight: 400;
    border: none;
    outline: none;
    margin-left: 5px;
    background-color: transparent;
    cursor: pointer;
}

.banner_img {
    max-width: 300px;
}

.banner_img img {
    width: 100%;
}

/*----------client----------*/
#client_section {
    margin: 100px 0;
}

#client_section h6 {
    font-size: 16px;
    line-height: 28px;
    color: #242f51;
    font-weight: 400;
    text-align: center;
    padding-bottom: 10px;
}

.client_content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.client_content img{
    max-width: 120px;
    margin: 0 10px;
}


/*-------key features---------*/
#keyFeatures{
    margin-top: 130px;
}

.features_content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.features_img {
    max-width: 575px;
    max-height: 839px;
}

.features_img img {
    width: 100%;
}

.features_details {
    margin-top: 0px;
}

.features_title h2{
    max-width: 281px;
    font-size: 36px;
    line-height: 46px;
    color: #242f51;
    font-weight: 600;
    padding-bottom: 15px; 
}

.features_title p {
    max-width: 430px;
    font-size: 16px;
    line-height: 26px;
    color: #616368;
    font-weight: 400;
    margin-bottom: 30px;
}

.features_categories {
    display: flex;
    justify-content:baseline;
    align-items: center;
    margin-bottom: 20px;
}

.feature_img {
    max-width: 66px;
    max-height: 66px;
    border-radius: 44px;
    background-color: #ffecef;
    align-self: center;
    margin-top: 25px;
}
.feature_img img{
    width: 100%;
}
.feature_info {
    margin-left: 24px;
    max-width: 259px;
}
.feature_info h6 {
    font-size: 20px;
    line-height: 58px;
    font-weight: 600;
}

.feature_info p {
    font-size: 16px;
    line-height: 26px;
    color: #616368;
    font-weight: 400;
}

.first_feature_info {
    color: #f55767;
}

.second_feature_info {
    color: #2563ff;
}

.third_feature_info {
    color: #40975f;
}


/*-------jackpots---------*/
#jackpots {
    margin-top: 160px;
}

.jackpots_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.jackpots_content h2{
    max-width: 421px;
    font-size: 40px;
    line-height: 50px;
    color: #242f51;
    font-weight: 600;
    margin-left: 100px;
}

.jackpots_content p{
    max-width: 406px;
    margin-left: 127px;
    font-size: 16px;
    line-height: 26px;
    color: #616368;
    font-weight: 400;
}

.jackpots_detail {
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
}

.jackpots_img {
    max-width: 58px;
}

.jackpots_img img {
    width: 88px;
    height: 88px;
    border-radius: 44px;
    background-color: #ffecef;
    margin-bottom: 25px;
}

.jackpots_info h6 {
    font-size: 20px;
    line-height: 58px;
    font-weight: 600;
}

.jackpots_info p {
    max-width: 259px;
    font-size: 16px;
    line-height: 26px;
    color: #616368;
    font-weight: 400;
}

.jackpots_one {
    color: #f55767;
}

.jackpots_two {
    color: #2563ff;
}

.jackpots_three {
    color: #40975f;
}


/*-------design---------*/
#design {
    margin-top: 95px;
}

.design_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.design_img {
    max-width: 598px;
}

.design_img img{
    width: 100%;
}

.design_info {
    margin-left: 111px;
}
.design_info h2{
    max-width: 349px;
    font-size: 36px;
    line-height: 46px;
    color: #242f51;
    font-weight: 600;
    padding-bottom: 29px;
}

.design_info p {
    max-width:406px ;
    font-size: 16px;
    line-height: 26px;
    color: #616368;
    font-weight: 400;
    padding-bottom: 41px;
}


/*-------service---------*/
#service {
    margin-top: 216px;
}

.service_section h2{
    font-size: 36px;
    line-height: 46px;
    color: #242f51;
    font-weight: 600;
    text-align: center;
    max-width: 434px;
    margin: 0 auto 34px;
}

.service_section p {
    max-width: 633px;
    font-size: 16px;
    line-height: 26px;
    color: #616368;
    font-weight: 400;
    text-align: center;
    margin: auto;
}

.service_content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 95px;
    grid-column-gap: 94px;
}

.service_img {
    text-align: center;
}

.service_img img {
    width: 88px;
    height: 88px;
    border-radius: 44px;
    background-color: #ffecef;
}

.service_detail h6 {
    font-size: 20px;
    line-height: 58px;
    color: #242f51;
    font-weight: 600;
    text-align: center;
}

.service_detail p {
    font-size: 16px;
    line-height: 26px;
    color: #616368;
    font-weight: 400;
    text-align: center;
    margin: 0 auto 65px;
}


/*-------planning---------*/
#planning_section {
    margin-top: 150px;
}

.planning_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.planning_intro h2 {
    max-width: 318px;
    font-size: 36px;
    line-height: 46px;
    color: #242f51;
    font-weight: 600;
    margin-bottom: 31px;
    text-align: left;
}

.planning_intro p {
    font-size: 16px;
    line-height: 26px;
    color: #616368;
    font-weight: 400;
    max-width: 393px;
    text-align: left;
    margin-bottom: 50px;
}

.planning_img {
    max-width: 550px;
}

.planning_img img{
    width: 100%;
}

.planning_categories {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.planning_item {
    margin: 0 56px 30px 0px;
}

.planning_item_img {
    max-width: 89px;
}

.planning_item_img img{
    width: 88px;
    height: 88px;
    border-radius: 44px;
    background-color: #ffecef;
}

.planning_item_detail h6 {
    max-width: 183px;
    font-size: 20px;
    line-height: 58px;
    color: #242f51;
    font-weight: 600;
}

.planning_item_detail p {
    max-width: 260px;
    font-size: 14px;
    line-height: 26px;
    color: #616368;
    font-weight: 400;
}