@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500&display=swap');

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f9fbfc;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.container {
    max-width: 1200px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}


/*--------navbar---------*/
header {
    margin-top: 25px;
}

.header_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.logo_img img{
    width: 100%;
}

.menu_bar ul{
    display: flex;
    align-items: center;
}

.menu_bar ul li {
    padding: 0 15px;
}

.menu_bar ul li a {
    font-size: 16px;
    line-height: 44px;
    color: #242f51;
    font-weight: 400;
    font-family: "Poppins";
    transition: all 0.5s ease-in-out;
}

.menu_bar ul li a:hover {
    color: orange;
}

.trial_btn {
    width: 170px;
    height: 57px;
    border-radius: 29px;
    background-color: #2500f9;
    border: none;
    outline: none;
    color: #f9fbfc;
    cursor: pointer;
}


/*----------banner----------*/
#banner_section {
    background-image: url('./../assets/banner-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left bottom;
    max-height: calc(100vh - 25px);
}

.banner_content{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.banner_info h6{
    display: flex;
    align-items: center;
    width: 362px;
    height: 35px;
    border-radius: 17px;
    background-color: #e2eaed;
    font-size: 18px;
    line-height: 28px;
    color: #242f51;
    font-weight: 400;
}

.banner_info h6 i {
    width: 39px;
    height: 35px;
    border-radius: 17px;
    background-color: #feaa25;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    line-height: 28px;
    color: #ffffff;
}

.banner_info h1 {
    /* max-width: 525px; */
    font-size: 60px;
    line-height: 75px;
    color: #242f51;
    font-weight: 600;
    padding: 15px 0;
}

.banner_info p {
    /* max-width: 481px; */
    font-size: 18px;
    line-height: 28px;
    color: #616368;
    font-weight: 400;
    padding: 0 0 20px 0;
}

.demo_btn {
    font-size: 16px;
    line-height: 44px;
    color: #2500f9;
    font-weight: 400;
    border: none;
    outline: none;
    margin-left: 5px;
    background-color: transparent;
    cursor: pointer;
}

.banner_img {
    max-width: 300px;
}

.banner_img img {
    width: 100%;
}